@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

// html * {
// font-family: "LuloCleanW01-OneBold" !important;
// }
.about-section {
  background-color: #ff6830;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  @include media(">=phone", "<lgphone") {
    flex-direction: column;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column;
    align-items: center;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 50%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 6rem;
      font-family: "LuloCleanW01-OneBold";
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 20px;
      color: white;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
    p {
      margin-top: 8vh;
      font-family: "Nunito", sans-serif;
      font-size: 2em;
      color: white;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
  }
  .signUp {
    margin-top: 5vh;
    background-color: white;
  }
  // .primary-btn {
  // background-color: white;
  // }
}
