@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.about-section {
  background-color: #ff6830;
  //change back to vw
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  h1 {
    margin-top: 2vh;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 83px;
    margin-bottom: 2vh;
    @include media(">=phone", "<lgphone") {
      width: 100vw;
      font-size: 7vw;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100vw;
      font-size: 7vw;
    }
    @include media(">=tablet", "<desktop") {
      width: 100vw;
      font-size: 7vw;
    }
  }
  p {
    margin-top: 2vh;
    width: 40vw;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    color: white;
    font-size: 1.5vw;
    @include media(">=phone", "<lgphone") {
      width: 80vw;
      font-size: 5vw;
    }
    @include media(">=lgphone", "<tablet") {
      width: 80vw;
      font-size: 5vw;
    }
    @include media(">=tablet", "<desktop") {
      width: 80vw;
      font-size: 5vw;
    }
  }
  .signUp {
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 1.5rem;
    font-family: "LuloCleanW01-OneBold";
    letter-spacing: 0.05em;
    line-height: 13px;
    background-color: white;
    color: #ff6830;
    padding: 1em 2em;
    cursor: pointer;
  }
}

//   .content {
//     width: 50%;
//     @include media(">=phone", "<lgphone") {
//       width: 80%;
//       text-align: center;
//       font-size: 3rem;
//     }
//     @include media(">=lgphone", "<tablet") {
//       width: 90%;
//       font-size: 3rem;
//       text-overflow: auto;
//       overflow-wrap: normal;
//     }
//     @include media(">=tablet", "<desktop") {
//       width: 100%;
//     }

//     h1 {
// font-size: 5.5rem;
// font-family: "LuloCleanW01-OneBold";
// letter-spacing: 0.08em;
// line-height: 20px;
// color: white;
//       @include media(">=phone", "<lgphone") {
//         // font-size: 3rem;
//         font-size: 2vw;
//         text-align: center;
//         // word-wrap: break-word;
//       }
//       @include media(">=lgphone", "<tablet") {
//         // font-size: 3rem;
//         font-size: 2vw;
//         // word-wrap: break-word;
//         // text-overflow: normal;
//         // overflow: auto;
//       }
//       @include media(">=tablet", "<desktop") {
//         text-align: center;
//       }
//     }
//   }
//   .about-content {
//     width: 40%;
//     margin-top: 2vh;
//     font-family: "Nunito", sans-serif;
//     font-weight: bold;
//     letter-spacing: 0.05em;
//     font-size: 27px;
//     color: white;
//     @include media(">=phone", "<lgphone") {
//       width: 90%;
//     }
//     @include media(">=lgphone", "<tablet") {
//       width: 90%;
//       // text-overflow: normal;
//       // overflow: auto;
//     }
//     @include media(">=tablet", "<desktop") {
//       text-align: center;
//     }
//   }
//
// }
