@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.about-section {
  background-color: #ff6830;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  // font-weight: 800;
  // letter-spacing: 1.5vw;
  // font-size: 6vw;
  color: white;
  .content-container {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin: 1vw 0;
      font-weight: 800;
      letter-spacing: 1.5vw;
      font-size: 5.5vw;
      padding: 0;
      text-transform: uppercase;
      color: white;
      text-align: center;
      @media only screen and (max-width: 1200px) {
        font-size: 9vw;
      }
    }
    p {
      margin-top: 0vh;
      width: 50vw;
      letter-spacing: 0;
      text-align: center;
      font-family: Nunito;
      font-weight: 500;
      color: white;
      font-size: 1.8vw;
      @media only screen and (max-width: 1200px) {
        width: 80vw;
        font-size: 4vw;
      }
    }
    .signUp {
      // margin: 0vw 0 4vw 0;
      margin-bottom: 2vw;
      font-size: 2vw;
      font-family: Raleway;
      letter-spacing: 1vw;
      // line-height: 4vw;
      background-color: white;
      color: #ff6830;
      text-decoration: unset;
      padding: 1.5vh 2.2vw;
      cursor: pointer;
      @media only screen and (max-width: 1200px) {
        padding: 1vh 4vw;
        font-size: 4vw;
      }
    }

    .signUp:hover {
      background-color: #2b2b2b;
      color: white;
      box-shadow: inset 0 0 0 1px white;
    }
  }
}
