@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.about-section {
  background-color: #ff6830;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 1.5vw;
  font-size: 6vw;
  color: white;
  .content-container{

  }

}
