@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.about-section {
  background-color: #ff6830;
  //change back to vw
  width: 100%;
  display: flex;
  flex-direction: column;
  // text-align: justify;
  align-items: center;
  margin: 0;
  padding: 0;

  h1 {
    margin-top: 2vh;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 83px;
    margin-bottom: 2vh;
    @include media(">=phone", "<lgphone") {
      width: 100vw;
      font-size: 7vw;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100vw;
      font-size: 7vw;
    }
    @include media(">=tablet", "<desktop") {
      width: 100vw;
      font-size: 7vw;
    }
  }
  p {
    margin-top: 2vh;
    width: 40vw;
    text-align: center;
    font-family: Nunito;
    font-weight: 600;
    color: white;
    font-size: 1.5vw;
    @include media(">=phone", "<lgphone") {
      width: 80vw;
      font-size: 5vw;
    }
    @include media(">=lgphone", "<tablet") {
      width: 80vw;
      font-size: 5vw;
    }
    @include media(">=tablet", "<desktop") {
      width: 80vw;
      font-size: 5vw;
    }
  }
  .signUp {
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 1.5rem;
    font-family: "LuloCleanW01-OneBold";
    letter-spacing: 0.05em;
    line-height: 13px;
    background-color: white;
    color: #ff6830;
    padding: 1em 2em;
    text-underline;
    cursor: pointer;
  }
}
