@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

// html * {
// font-family: "LuloCleanW01-OneBold" !important;
// }
.about-section {
  background-color: #ff6830;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  @include media(">=phone", "<lgphone") {
    flex-direction: column;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column;
    align-items: center;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column;
    align-items: center;
  }
  .about-title {
    width: 50%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 5.5rem;
      font-family: "LuloCleanW01-OneBold";
      letter-spacing: 0.05em;
      line-height: 20px;
      color: white;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
    p {
      // width: 70%;
      // margin-top: 8vh;
      // font-family: "Nunito", sans-serif;
      // letter-spacing: 0.05em;
      // font-size: 1.5rem;
      // color: white;
      // @include media(">=tablet", "<desktop") {
      //   text-align: center;
      // }
    }
  }
  .image-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
  }
  .about-content {
    width: 40%;
    // width: 70%;
    margin-top: 2vh;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    color: white;
    @include media(">=tablet", "<desktop") {
      text-align: center;
    }
  }
  .signUp {
    margin-top: 2vh;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
  .primary-btn {
  }
}
