@import url("https://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.about-section {
  background-color: #ff6830;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: LuloCleanW01-OneBold;
  color: white;
  font-size: 4vw;

  h1 {
    margin: 1vw 0;
    padding: 0;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 4vw;
    text-align: center;

    br {
      display: none;
      @media only screen and (max-width: 565px) {
        font-size: 3.5vw;
      }
    }
  }
  p {
    margin-top: 0vh;
    width: 50vw;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    color: white;
    font-size: 1.8vw;
    @media only screen and (max-width: 1200px) {
      width: 80vw;
      font-size: 4vw;
    }
  }
  .signUp {
    // margin: 0vw 0 4vw 0;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-family: "LuloCleanW01-OneBold";
    letter-spacing: 0.05vw;
    // line-height: 4vw;
    background-color: white;
    color: #ff6830;
    text-decoration: unset;
    padding: 1.2vh 2.2vw;
    cursor: pointer;
    @media only screen and (max-width: 1200px) {
      padding: 0.5vh 4vw;
      font-size: 4vw;
    }
  }

  .signUp:hover {
    background-color: #2b2b2b;
    color: white;
    box-shadow: inset 0 0 0 1px white;
  }
}
