@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.skills-container {
  background-color: #92af63;
  width: 100vw;
  // margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 83px;
    line-height: 20px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 20px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
    .challengeBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        font-size: 14px;
      }
    }
  }
}
