
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.skills-container {
  background-color: #92af63;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-weight: 900; 
    letter-spacing: 1vw;
    text-align: center;
    margin-top: 2vh;
    font-family: Raleway;
    text-transform: uppercase;
    color: white;
    font-size: 6vw;
    @media only screen and (max-width: 1000px) {
      font-size: 9vw;
    }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
    grid-gap: 10px;
    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .challengeBox {
      display: flex;
      flex-direction: column;
      border: 5px solid white;
      height: 15vw;
      width: 17vw;
      margin-bottom: 5vw;
      @media only screen and (max-width: 1500px) {
        height: 25vw;
        width: 25vw;
      }

      @media only screen and (max-width: 1300px) {
        height: 30vw;
        width: 30vw;
      }
      p {
        margin-top: 2vh;
        padding: 0;
        text-align: center;
        align-self: center;
        font-family: Raleway;
        font-weight: 900;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
        color: white;
        font-size: 2vw;
        @media only screen and (max-width: 1500px) {
          font-size: 4vw;
        }
        @media only screen and (max-width: 600px) {
          font-size: 4.5vw;
        }
      }
    }
  }
}
