@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.skills-container {
  background-color: #92af63;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    // text-align: center;
    margin-top: 2vh;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 83px;
    @include media(">=phone", "<lgphone") {
      font-size: vw;
    }
    @include media(">=lgphone", "<tablet") {
    }
    @include media(">=tablet", "<desktop") {
    }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr;
    }
    .challengeBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: 6px solid white;
      height: 28vh;
      width: 15vw;
      margin-bottom: 10vh;
      @include media(">=phone", "<lgphone") {
        height: 50vh;
        width: 80vw;
      }
      @include media(">=lgphone", "<tablet") {
        grid-template-columns: 1fr;
      }
      @include media(">=tablet", "<desktop") {
        grid-template-columns: 1fr;
      }
      p {
        font-family: LuloCleanW01-OneBold;
        color: white;
        font-size: 25px;
      }
    }
  }
}
