@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.skills-container {
  background-color: #92af63;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    text-align: center;
    margin-top: 2vh;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 5vw;
    @media only screen and (max-width: 1000px) {
      font-size: 9vw;
    }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
    grid-gap: 10px;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    .challengeBox {
      display: flex;
      flex-direction: column;
      border: 5px solid white;
      height: 30vh;
      width: 17vw;
      margin-bottom: 5vw;
      @media only screen and (max-width: 1000px) {
        height: 80vw;
        width: 80vw;
      }
      p {
        text-align: center;
        align-self: center;
        font-family: LuloCleanW01-OneBold;
        color: white;
        font-size: 1.5vw;
        @media only screen and (max-width: 600px) {
          font-size: 7vw;
        }
      }
    }
  }
}
