@import url("https://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.promotion-container {
  width: 100%;
  height: fit fit-content;
  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: 900;
  // @media only screen and (max-width: 400px) {
  // height: 250px;
  // }

  h1 {
    font-size: 10vw;
    color: #ff8b0f;
  }

  .coming {
    right: 20px; /* same as height */
    // height: 45px;
    transform: rotate(-90deg);
    // transform-origin: 3vw 45vw; //-90% 0;
    //transform-origin: 0 45vw ;
    position: absolute;
    // line-height: 40px;
    //margin-left: 10vw;
  }

  .soon {
    right: -5vw; /* same as height */
    //bottom: -40vw;
    height: 40px;
    transform: rotate(-90deg);
    transform-origin: -8vw -18vw;
    //transform-origin: 85% 0;
    position: absolute;
    line-height: 40px;
  }

  .countdown {
    margin-left: 30vw;
    width: 60vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 7vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5vw;

    @media only screen and (max-width: 400px) {
      font-size: 25px;
      margin-left: 25vw;
    }

    .months {
      color: #ff6830;
    }
    .weeks {
      color: #ff6830;
    }
    .days {
      color: #ff8b0f;
    }
    .hours {
      color: #92af63;
    }

    .minutes {
      color: #3d9be9;
    }
    .seconds {
      max-width: 80%;
      color: rgb(124, 114, 232);
    }

    .time-left {
      font-size: 2vw;
      align-self: center;
      justify-self: start;
      @media only screen and (max-width: 400px) {
        font-size: 15px;
      }
    }
  }
}
