@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.promotion-container {
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  h1 {
    margin-right: 10vw;
    font-family: LuloCleanW01-OneBold;
    font-size: 3rem;
    line-height: 20px;
    transform: rotate(-90deg);
  }
}
