@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.promotion-container {
  // width: 100vw;
  //change back to 100vw
  max-width: 100%;
  // width: 100vw;
  height: 80vh;
  margin-right: 5vw;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  // text-align: center;
  justify-content: center;
  h1 {
    color: #ff8b0f;
    font-family: LuloCleanW01-OneBold;
    font-size: 5.5vw;
    margin: -2vw;
    // padding: -5px 10px;
    transform: rotate(-90deg);
  }
  .countdown {
    font-family: LuloCleanW01-OneBold;

    max-width: 15vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5vw;


    h2 {
      margin: 0 2vw;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-end: 0;
      margin-inline-start: 0;
    }
    .months {
      color: #ff6830;
      display: flex;
      flex-direction: row;
      margin: 0;
    }
    .weeks {
      color: #ff8b0f;
      color: #ff6830;
      display: flex;
      flex-direction: row;
    }
    .days {
      color: #92af63;
      color: #ff8b0f;
      display: flex;
      flex-direction: row;
    }
    .hours {
      color: #3d9be9;
      color: #92af63;
      display: flex;
      flex-direction: row;
    }

    .minutes {
      color: #3d9be9;
      display: flex;
      flex-direction: row;
      flex: auto;
    }
    .seconds {
      max-width: 80%;
      color: rgb(124, 114, 232);
      // font-size: 2vw;
      display: flex;
      flex-direction: row;

    }
    .time-left {
      // margin: 0 2vw;
      font-size: 1.5vw;
      align-self: center;
      justify-self: start;
    }
  }
}
