@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.promotion-container {
  max-width: 80%;
  width: fit-content;
  height: auto;
  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
  padding: 0;
  // @media only screen and (max-width: 400px) {
  // height: 250px;
  // }

  h1 {
    font-size: 10vw;
    margin: 0;
    padding: 0;
    color: #ff8b0f;
  }

  .coming {
    display: flex;
    height: fit-content;
    margin: 0;
    padding: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 5vw;
  }

  .soon {
    display: flex;
    height: fit-content;
    margin: 0;
    padding: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 5vw;
  }

  .countdown {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5vw;
    align-items: center;
    justify-items: center;
    margin: 0;
    margin-left: 2vw;
    padding: 0;
    width: min-content;
    font-size: 7vw;
    @media only screen and (max-width: 400px) {
      font-size: 25px;
    }

    .months {
      color: #ff6830;
    }
    .weeks {
      color: #ff6830;
    }
    .days {
      color: #ff8b0f;
    }
    .hours {
      color: #92af63;
    }

    .minutes {
      color: #3d9be9;
    }
    .seconds {
      max-width: fit-content;
      color: rgb(124, 114, 232);
    }

    .time-left {
      font-size: 2vw;
      width: min-content;
      align-self: center;
      justify-self: start;
      @media only screen and (max-width: 400px) {
        font-size: 15px;
      }
    }
  }
}
