@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.promotion-container {
  // width: 100vw;
  //change back to 100vw
  max-width: 100%;
  width: 100vw;
  height: 70vh;
  margin-left: 10vw
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  h1 {
    // margin-right: 10vw;
    // margin-left: 10vw;
    font-family: LuloCleanW01-OneBold;
    font-size: 5vw;
    // line-height: 20px;
    transform: rotate(-90deg);
  }
  .countdown {
    text-align: center;
    align-items: center;
    justify-content: center;
    // color: #ff6830;
    // display: flex;
    // flex-direction: column;
    .months {
      color: #ff6830;
      display: flex;
      flex-direction: row;
    }
    .weeks {
      color: #ff8b0f;
      display: flex;
      flex-direction: row;
    }
    .days {
      color: #92af63;
      display: flex;
      flex-direction: row;
    }
    .hours {
      color: #3d9be9;
      display: flex;
      flex-direction: row;
    }
    // .time-left {
    //   flex-direction: row;
    // }
    .minutes {
      display: flex;
      flex-direction: row;
    }
    .seconds {
      display: flex;
      flex-direction: row;
    }
  }
}
