@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.promotion-container {
  // width: 100vw;
  //change back to 100vw
  max-width: 100%;
  width: 100vw;
  height: 50vh;
  // margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  h1 {
    // margin-right: 10vw;
    // margin-left: 10vw;
    font-family: LuloCleanW01-OneBold;
    font-size: 2vw;
    line-height: 20px;
    transform: rotate(-90deg);
  }
  .countdown {
    // color: #ff6830;
    flex-direction: row;
    .months {
      color: #ff6830;
      flex-direction: 
    }
    .weeks {
      color: #ff8b0f;
    }
    .days {
      color: #92af63;
    }
    .hours {
      color: #3d9be9;
    }
    // .minutes {
    //   color: ;
    // }
    // .seconds {
    //   color: ;
    // }
  }
}
