@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
.accordion-section {
  display: flex;
  flex-direction: column;
  font-family: LuloCleanW01-OneBold;
}

.accordion-title {
  background-color: rgb(124, 114, 232);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
  background-color: rgb(124, 114, 232);
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-text {
  font-family: Barlow;
  font;
  //   font-weight: 400;
  //   font-size: 14px;
  //   padding: 18px;
}
