@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");

.cc-promotion-container {
  background-color: rgb(124, 114, 232)
  width: 50vw;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  //change back to vw
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h1 {
  // margin-top: 2vh;
  font-family: LuloCleanW01-OneBold;
  font-size: 3vw;
  margin: 0;
}

.accordion-section {
  display: flex;
  width: 50vw;
  flex-direction: column;
  font-family: LuloCleanW01-OneBold;
}

.accordion-title {
  background-color: rgb(124, 114, 232);
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.accordion-title:hover,
.active {
  background-color: rgb(124, 114, 232);
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-text {
  font-family: Barlow;
  // font-variant: normal;
  text-transform: capitalize;
  //   font-weight: 400;
  //   font-size: 14px;
  //   padding: 18px;
}
