.footer-container {
  width: 100vw;
  max-width: 100%;
  background-color: black;
  margin-top: 10vh;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  color: white;
  font-family: Open Sans;
  .footer-align {
    display: flex;
    height: 15vh;
    align-items: flex-end;
    justify-content: space-around;
    .ptc-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      text-align: left;
      align-items: flex-start;
      margin-right: 10vw;

      .ptc-icon {
        margin: 0;
        padding: 0;
      }
      .ptc-title {
        font-style: italic;
        line-height: 1.5em;
        margin-top: -3vh;
      }
      .ptc-motto {
        margin: 0;
        margin-top: 3vh;
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }

      .social-icons {
        img {
          height: 2rem;
          height: 20px;
          width: 20px;
          margin: 10px;
        }
      }
    }
    .return-button {
      display: flex;
      flex-direction: row;
      // height: 30vh;
      height: 4.5vh;
      width: 24vw;
      align-items: center;
      justify-content: center;

      font-size: 1.2rem;
      margin: 0;
      padding: 0;
      background-color: #2b2b2b;
      color: white;
      // padding: 0.2em 7em;
      font-family: arial;
      text-underline-position: unset;
      text-decoration: none;
      cursor: pointer;
      transition: 600ms;
    }

    .return-button:hover {
      background-color: rgb(247, 72, 74);
      color: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-container {
    height: 40vh;
    margin: 0;
    flex-direction: column;
    // padding: 0;
    .footer-align {
      display: column;
      .ptc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        text-align: left;
        align-items: center;
        // margin-right: 10vw;

        .ptc-icon {
          margin: 0;
          padding: 0;
        }
        .ptc-title {
          font-style: italic;
          line-height: 1.5em;
          margin-top: -3vh;
        }
        .ptc-motto {
          margin: 0;
          margin-top: 3vh;
          padding: 0;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }

        .social-icons {
          img {
            height: 2rem;
            height: 20px;
            width: 20px;
            margin: 10px;
          }
        }
      }
      .return-button {
        display: flex;
        flex-direction: column;
        // height: 30vh;
        height: 4.5vh;
        width: 24vw;
        align-items: center;
        justify-content: center;

        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        background-color: #2b2b2b;
        color: white;
        // padding: 0.2em 7em;
        font-family: arial;
        text-underline-position: unset;
        text-decoration: none;
        cursor: pointer;
        transition: 600ms;
      }

      .return-button:hover {
        background-color: rgb(247, 72, 74);
        color: white;
      }
    }
  }
}
