.footer-container {
  width: 100vw;
  max-width: 100%;
  background-color: black;
  margin-top: 10vh;
  height: 30vh;
  // margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: Open Sans;
  .ptc-icon {
    // text-align: flex-start;
    text-align: left;
    align-self: ;
    margin: 0;
    padding: 0;
  }
  .ptc-title {
    font-style: italic;
    line-height: 1.5em;
    margin-top: -3vh;
  }
  .ptc-motto {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }

  .social-icons {
    margin-top: 20px;
    img {
      height: 2rem;
      margin: 10px;
    }
  }
  span {
    margin-top: 10px;
  }
}
