@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.footer-container {
  width: 100vw;
  max-width: 100%;
  background-color: black;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Open Sans;
  .ptc-container {
    display: flex;
    width: 65vw;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    .ptc-icon {
      margin: 0;
      padding: 0;
    }
    .ptc-title {
      font-style: italic;
      line-height: 3em;
      margin-top: -3vh;
    }
    .ptc-motto {
      margin: 0;
      margin-top: 1.5vh;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    .social-icons {
      img {
        height: 2rem;
        height: 20px;
        width: 20px;
        padding-right: 27px;
        padding-top: 12px;
      }
    }
    .return-button {
      display: flex;
      height: 4.5vh;
      align-items: center;
      // justify-content: center;
      width: fit-content;
      font-size: 1.2rem;
      margin: 0;
      // padding: 0 0.5vw;
      background-color: black;
      color: white;
      font-family: arial;
      text-underline-position: unset;
      text-decoration: none;
      cursor: pointer;
      transition: 600ms;
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer-container {
    margin: 0;
    height: fit-content;

    .ptc-container {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .ptc-icon {
        margin: 0;
        padding: 0;
      }
      .ptc-title {
        font-style: italic;
        line-height: 1.5em;
      }
      .ptc-motto {
        margin: 0;
        padding-top: 3vh;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }

      .social-icons a {

        // margin-right: 2vw;
        img {
          // height: 2rem;
          height: 20px;
          width: 20px;
        }
      }
      .return-button {
        height: 6vh;
        align-self: center;
        justify-content: center;
        width: 60vw;
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 5vh;
        padding: 0;
        transition: 600ms;
      }
    }
  }
}
