.footer-container {
  width: 100vw;
  max-width: 100%;
  background-color: black;
  margin-top: 10vh;
  height: 30vh;
  // margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: white;
  font-family: Open Sans;
  .ptc-container {
    width: fit-content;
    text-align: left;

    .ptc-icon {
      margin: 0;
      padding: 0;
    }
    .ptc-title {
      font-style: italic;
      line-height: 1.5em;
      margin-top: -3vh;
    }
    .ptc-motto {
      margin: 0;
      margin-top: 3vh;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }

  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  h2 {
    font-size: 1.5rem;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      display: none;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 14px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }

  .social-icons {
    // margin-top: 20px;
    img {
      height: 2rem;
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
  span {
    margin-top: 10px;
  }
}
.return-button {
  // margin-top: 2vh;
  // margin-bottom: 4vh;
  font-size: 1.3rem;
  // font-family: "LuloCleanW01-OneBold";
  // letter-spacing: 0.05em;
  background-color: #2b2b2b;
  color: white;
  padding: 0.3em 7em;
  font-family: arial;
  text-underline-position: unset;
  text-decoration: none;
  cursor: pointer;
  transition: 500ms;
}

.return-button:hover {
  background-color: rgb(247, 72, 74);
  color: white;
}
