@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#home{
    background-color: white;
}

#about{
    background-color:#ff6830;
}

#challenges{
    background-color:#92af63;
}

#faq{
    background-color:
}