.header-wrapper {
  width: 30vw;
  // max-width: 100%;
  height: 88vh;
  width: 80vw;
  // margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  background-size: 80vw;
  @include media(">=phone", "<lgphone") {
    max-width: 100%;
    width: 100vw;
    height: 50vh;
  }
  @include media(">=lgphone", "<tablet") {
    max-width: 100%;
    width: 100vw;
    height: 50vh;
  }
  @include media(">=tablet", "<desktop") {
    max-width: 100%;
    width: 100vw;
    height: 50vh;
  }

  .heading-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;

    h1 {
      font-size: 6.8vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<tablet") {
        line-height: 10px;
      }
    }

    h2 {
      font-size: 3vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<tablet") {
        line-height: 10px;
      }
      @media only screen and (max-width:762px){
        margin: 1vw;
      }
    }

    h3 {
      font-size: 2.5vw;
      text-align: left;
      line-height: 10px;
      font-family: nunito;
      font-style: italic;
      @include media(">=phone") {
        line-height: 10px;
        //font-size: 3vw;
      }
      @media only screen and (max-width:762px){
        font-size: 3vw;
      }
    }
  }

  a {
      font-size: 2vw;
      text-align: left;
      line-height: 50px;
      font-family: Nunito;
      font-style: bold;
      background-color: rgb(247,72,74);
      padding-left: 4vw;
      padding-right: 4vw;
      margin:0;
      @media only screen and (max-width:762px){
        font-size: 3vw;
        padding: 2vw;
        padding-top: 1vw;
        padding-bottom:1vw;
      }
  }
  a:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
