.header-wrapper {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  max-width: 100%;
  height: 55vw;
  .heading-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    .title {
      font-size: 5vw;
      text-align: left;
      // line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<tablet") {
        line-height: 7vw;
      }
    }
    .date {
      font-size: 2vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<tablet") {
        line-height: 10px;
      }
      @media only screen and (max-width: 762px) {
        margin: 1vw;
      }
    }
    .description {
      font-size: 2vw;
      text-align: left;
      line-height: 10px;
      font-weight: 200;
      font-family: nunito;
      font-style: italic;
      @include media(">=phone") {
        // line-height: 10px;
        font-size: 3vw;
      }
      @media only screen and (max-width: 762px) {
        font-size: 3vw;
      }
    }
  }
  .primary-btn {
    font-size: 1.5vw;
    text-align: left;
    line-height: 50px;
    font-family: Nunito;
    font-style: bold;
    background-color: rgb(247, 72, 74);
    padding: 0.5vh 2vw;
    // padding-left: 3vw;
    // padding-right: 3vw;
    margin: 0;
    @media only screen and (max-width: 762px) {
      font-size: 3vw;
      padding: 2vw;
      padding-top: 1vw;
      padding-bottom: 1vw;
    }
  }
  .primary-btn:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
