@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

.header-wrapper {
  // margin-top: 4vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  // background-size:contain;
  background-position: center center;
  // align-items: center;
  // justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: ;
  align-items: center;
  // height: 100vh;
  .heading-wrapper {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // align-self: flex-start;
    // margin-left: 15vw;
    // margin-top: 15vh;
    @media only screen and (max-width: 1000px) {
      margin: auto;
    }
    // margin-right: 5vw;
    // max-width: 100%;
    // width: 100vw;
    .title {
      text-align: left;
      margin: 0;
      padding: 0;
      font-family: Raleway;
      font-weight: 900;
      letter-spacing: 1vw;
      font-size: 5vw;
      @media only screen and (max-width: 1000px) {
        font-size: 9.5vw;
      }
    }

    .date {
      font-size: 2vw;
      text-align: left;
      font-family: Raleway;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      font-size: 1.5vw;
      margin: 1vw 0;
      padding: 0;
      // @include media(">=phone", "<tablet") {
      //   line-height: 10px;
      // }
      // @media only screen and (max-width: 762px) {
      //   // margin-bottom: 0;
      // }
    }
    .description {
      text-align: left;
      font-size: 1.8vw;
      line-height: 10px;
      font-weight: 200;
      margin: 0.5vw 0;
      // margin-bottom: 2vw;
      // padding: 0;
      font-family: nunito;
      font-style: italic;
      // @include media(">=phone") {
      //   // line-height: 10px;
      //   font-size: 3vw;
      // }
      // @media only screen and (max-width: 762px) {
      //   font-size: 3vw;
      // }
    }
  }
  .primary-btn {
    font-size: 1vw;
    text-align: left;
    // line-height: 50px;
    font-family: Nunito;
    font-style: bold;
    background-color: rgb(247, 72, 74);
    padding: 1vh 3vw;
    // padding-left: 3vw;
    // padding-right: 3vw;
    margin: 0;
    @media only screen and (max-width: 762px) {
      font-size: 3vw;
      padding: 0.3vh 4vw;
    }
  }
  .primary-btn:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
