.header-wrapper {
  width: 30vw;
  // max-width: 100%;
  height: 88vh;
  width: 80vw;
  // margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  background-size: 80vw;
  @include media(">=phone", "<lgphone") {
    width: 100vw;
    height: 50vh;
  }
  @include media(">=lgphone", "<tablet") {
    width: 100vw;
    height: 50vh;
  }
  @include media(">=tablet", "<desktop") {
    width: 100vw;
    height: 50vh;
  }

  .heading-wrapper {
    // width: 40vw;
    margin-top: 10vh;
    margin-left: 15vw;
    h1 {
      font-size: 5vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 6vw;
      }
    }
    h2 {
      font-size: 1.5vw;
      // margin-right: 2vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2vw;
      }
    }
    h3 {
      font-size: 1vw;
      text-align: left;
      line-height: 20px;
      font-family: nunito;
      font-style: italic;
      font-weight: 400;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2vw;
      }
    }
  }

  a {
    font-size: 1vw;
    text-align: left;
    line-height: 50px;
    font-family: Nunito;
    font-style: bold;
    background-color: rgb(247, 72, 74);
    padding: 0.8vh 2vw;
    // padding-left: 4vw;
    // padding-right: 4vw;
    margin-left: 0;
  }
  a:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
