.header-wrapper {
  width: 80vw;
  max
  height: 50vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 55vw;

  .heading-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    h1 {
      font-size: 6vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 6vw;
      }
    }
    h2 {
      font-size: 2vw;
      text-align: left;
      line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2vw;
      }
    }
    h3 {
      font-size: 2vw;
      text-align: left;
      line-height: 20px;
      font-family: nunito;
      font-style: italic;
      @include media(">=phone", "<lgphone") {
        line-height: 10px;
      }
      @include media(">=lgphone", "<tablet") {
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2vw;
      }
    }
  }

  a {
    font-size: 2vw;
    text-align: left;
    line-height: 50px;
    font-family: Nunito;
    font-style: bold;
    background-color: rgb(247, 72, 74);
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 0;
  }
  a:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
