.header-wrapper {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/hackathon.png);
  background-repeat: no-repeat;
  background-size: cover;
  // align-items: center;
  // justify-content: center;
  width: 100vw;
  max-width: 100%;
  height: 50vw;
  .heading-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 15vw;
    margin-top: 15vh;
    // margin-right: 5vw;
    width: 100vw;
    .title {
      font-size: 5vw;
      text-align: left;
      margin: 0;
      padding: 0;
      // line-height: 20px;
      font-family: LuloCleanW01-OneBold;
      @media only screen and (max-width: 1000px) {
        font-size: 9vw;
      }
      // @include media(">=phone", "<tablet") {
      //   font-size: 7vw;
      // }
      // @media only screen and (max-width: 850px) {
      //   font-size: 10vw;
      // }
    }

    .date {
      font-size: 2vw;
      text-align: left;
      font-family: LuloCleanW01-OneBold;
      margin: 0;
      padding: 0;
      @include media(">=phone", "<tablet") {
        line-height: 10px;
      }
      @media only screen and (max-width: 762px) {
        margin-bottom: 0;
      }
    }
    .description {
      font-size: 2vw;
      text-align: left;
      line-height: 10px;
      font-weight: 200;
      margin: 1vw 0;
      // margin-bottom: 2vw;
      // padding: 0;
      font-family: nunito;
      font-style: italic;
      @include media(">=phone") {
        // line-height: 10px;
        font-size: 3vw;
      }
      @media only screen and (max-width: 762px) {
        font-size: 3vw;
      }
    }
  }
  .primary-btn {
    font-size: 1.5vw;
    text-align: left;
    line-height: 50px;
    font-family: Nunito;
    font-style: bold;
    background-color: rgb(247, 72, 74);
    padding: 0.5vh 2vw;
    // padding-left: 3vw;
    // padding-right: 3vw;
    margin: 0;
    @media only screen and (max-width: 762px) {
      font-size: 3vw;
      padding: 0.5vh 4vw;
    }
  }
  .primary-btn:hover {
    background-color: rgb(63, 86, 90);
    color: black;
  }
}
