@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

// Atoms
@import "./card.scss";

// Components
@import "./navbar.scss";
@import "./header.scss";
@import "./work.scss";
@import "./about.scss";
@import "./challenges.scss";
@import "./countdown.scss";
@import "./sponsors.scss";
@import "./schedule.scss";
@import "./footer.scss";
@import "./faq.scss";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-width: 100%;
  // overflow-x: scroll;
}

.section {
  width: 100%;
  height: auto;
  // overflow: hidden;
}

.container {
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
