@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.navbar-wrapper {
  width: 80vw;
  max-width: 100%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  margin-right: 25vw;
  justify-content: flex-end;
  align-items: center;
  .hamburger-toggle {
    cursor: pointer;
    color: black;
    display: none;
  }
  @media only screen and (max-width: 850px) {
    .hamburger-toggle {
      display: flex;

      margin-top: 2vh;
      // margin-left: 15vw;
      // float: right;
    }
  }
  @include media(">=phone", "<lgphone") {
    width: 100vw;
    // flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  @include media(">=lgphone", "<tablet") {
    width: 100vw;
    // flex-direction: row;
    justify-content: center;
    margin: 0;
  }
  @include media(">=tablet", "<desktop") {
    width: 100vw;
    justify-content: center;
    margin: 0;
  }

  .links-wrapper {
    button {
      margin-top: 6vh;
      margin-right: 2vw;
      font-family: Nunito;
      transition: all 0.2s ease-in-out;
      font-size: 0.8vw;
      background-color: transparent;
      // outline: none;
      border: none;
      cursor: pointer;
    }

    @media only screen and (max-width: 850px) {
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        // display: none;
      }
    }

    // @include media(">=phone", "<lgphone") {
    //   // visibility: hidden;
    //   flex-direction: row;
    //   margin: 0;
    //   // font-size: 10vw;
    // }
    // @include media(">=lgphone", "<tablet") {
    //   width: 100vw;
    //   // margin: 0;
    //   flex-direction: row;
    //   justify-content: center;
    // }
    // @include media(">=tablet", "<desktop") {
    //   width: 100vw;
    //   justify-content: center;
    // }

    .about-button:hover {
      color: #ff6830;
    }
    .challenge-button:hover {
      color: #ff8b0f;
    }
    .sponsors-button:hover {
      color: #92af63;
    }
    .faq-button:hover {
      color: #3d9be9;
    }
    .schedule-button:hover {
      color: rgb(124, 114, 232);
    }
  }
}
