@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.navbar-wrapper {
  width: 80vw;
  max-width: 100%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  // justify-content: center;
  margin-right: 25vw;
  justify-content: flex-end;
  // align-self: ;
  align-items: center;
  // justify-content: end;
  .links-wrapper {
    button {
      // align-items: flex-end;
      // text-decoration: none;
      margin-top: 2vh;
      margin-right: 2vw;
      // padding: 10px;
      font-family: Nunito;
      transition: all 0.2s ease-in-out;
      font-size: 0.8vw;
      background-color: transparent;
      // outline: none;
      border: none;
      cursor: pointer;
    }
    .about-button:hover {
      color: #ff6830;
    }
    .challenge-button:hover {
      color: #ff8b0f;
    }
    .sponsors-button:hover {
      color: #92af63;
    }
    .faq-button:hover {
      color: #3d9be9;
    }
    .schedule-button:hover {
      color: rgb(124, 114, 232);
    }
  }
}
