@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.navbar-wrapper {
  width: 80vw;
  max-width: 100%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: Nunito;
      // opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 0.5vw;
      font-weight: 500;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
    }
    .about-button:hover {
      color: #ff6830;
    }
    .challenge-button:hover {
      color: #ff8b0f;
    }
    .sponsors-button:hover {
      color: #92af63;
    }
    .faq-button:hover {
      color: #3d9be9;
    }
    .schedule-button:hover {
      color: rgb(124, 114, 232);
    }
  }
}
