@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap");
//   @import "include-media.scss";
.schedule-container {
  max-width: 100%;
  font-family: Raleway;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 50vw;

  .schedule-header {
    color: #ff4040;
    font-weight: 800;
    letter-spacing: 1vw;
    font-size: 5vw;
    font-family: Raleway;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
    @media only screen and (max-width: 1250px) {
      // width: 100vw;
      align-self: center;
      font-size: 10vw;
    }
  }
  .friday {
    display: flex;
    flex-direction: column;
    // width: fit-content;
    @media only screen and (max-width: 600px) {
      align-items: center;
      justify-content: center;
    }

    .friday-date {
      display: flex;
      font-family: Raleway;
      font-weight: 900;
      letter-spacing: 0.2vw;
      color: #ff6830;
      font-size: 1.5vw;
      margin-bottom: 0.5vw;
      @media only screen and (max-width: 1250px) {
        font-size: 3vw;
      }
    }
    .friday-schedule {
      background-color: #ff6830;
      color: #ffffff;
      width: 28vw;
      font-family: barlow;
      line-height: 2.5vw;
      display: grid;
      padding: 1%;
      padding-left: 2vw;
      font-size: 1.2vw;
      grid-template-columns: 1fr 2fr;
      font-weight: 500;
      @media only screen and (max-width: 1250px) {
        width: 35vw;
        padding: 2%;
        font-size: 1.5vw;
      }
      @media only screen and (max-width: 600px) {
        width: 50vw;
        padding: 5%;
        font-size: 2.5vw;
      }
      .friday-time {
        font-weight: bold;
      }
    }
  }
  .saturday {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media only screen and (max-width: 600px) {
      align-items: center;
      justify-content: center;
    }
    .saturday-date {
      text-align: right;
      font-family: Raleway;
      font-weight: 900;
      letter-spacing: 0.2vw;
      color: #ff8b0f;
      font-size: 1.5vw;
      margin-bottom: 0.5vw;
      @media only screen and (max-width: 1250px) {
        font-size: 3vw;
      }
    }
    .saturday-schedule {
      background-color: #ff8b0f;
      color: #ffffff;
      width: 28vw;
      font-family: barlow;
      line-height: 2.5vw;
      display: grid;
      padding: 1%;
      padding-left: 2vw;
      font-size: 1.2vw;
      grid-template-columns: 1fr 2fr;
      font-weight: 500;
      @media only screen and (max-width: 1250px) {
        width: 35vw;
        padding: 2%;
        font-size: 1.5vw;
      }
      @media only screen and (max-width: 600px) {
        width: 50vw;
        padding: 5%;
        font-size: 2.5vw;
      }
      .saturday-time {
        font-weight: bold;
      }
    }
  }
  .sunday {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
      align-items: center;
      justify-content: center;
    }
    .sunday-date {
      font-family: Raleway;
      font-weight: 900;
      letter-spacing: 0.2vw;
      color: #92af63;
      font-size: 1.5vw;
      margin-bottom: 0.5vw;
      @media only screen and (max-width: 1250px) {
        font-size: 3vw;
      }
    }
    .sunday-schedule {
      background-color: #92af63;
      color: #ffffff;
      width: 28vw;
      font-family: barlow;
      line-height: 2.5vw;
      display: grid;
      padding: 1%;
      padding-left: 2vw;
      font-size: 1.2vw;
      grid-template-columns: 1fr 2fr;
      font-weight: 500;
      @media only screen and (max-width: 1250px) {
        width: 35vw;
        padding: 2%;
        font-size: 1.5vw;
      }
      @media only screen and (max-width: 600px) {
        width: 50vw;
        padding: 5%;
        font-size: 2.5vw;
      }
      .sunday-time {
        font-weight: bold;
      }
    }
  }
}

.button-div{

}
.top-button {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  width: 10vw;
  background-color: #92af63;
  color: #ffffff;
  // margin: 2vw 10vw;
  // padding: 0.5vw 2vw;
  font-family: barlow;
  font-size: 2.5vw;
  border: none;
  cursor: pointer;
  @media only screen and (min-width: 800px) {
    margin-bottom: 6vw;
    font-size: 25px;
}
