@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.aa-container {
  max-width: 100%;
  width: 50vw;
  // height: 20vh;
  padding: 0;
  margin-top: 6vw;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include media(">=phone", "<lgphone") {
    // height: 60vh;
    width: 100vw;
    text-align: center;
    // gap: 10vw;
  }
  @include media(">=lgphone", "<tablet") {
    // height: 60vh;
  }
  @include media(">=tablet", "<desktop") {
    // height: 60vh;
    // gap: 10vw;
  }
  .image-wrapper {
    align-self: center;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 20vh;
    .image {
      width: 10vw;
      height: 10vw;
    }
  }
  h1 {
    color: #1b9cf7;
    align-self: flex-start;
    font-family: LuloCleanW01-OneBold;
    font-size: 4.5vw;
    margin: -2vw;
    @include media(">=phone", "<lgphone") {
      align-self: center;
      
      margin: 0;
      padding: 0;
      font-size: 9vw;
    }
    @include media(">=lgphone", "<tablet") {
      align-self: center;
      margin: 0;
      padding: 0;
      font-size: 9vw;
    }
    @include media(">=tablet", "<desktop") {
      align-self: center;
      margin: 0;
      padding: 0;
      font-size: 9vw;
    }
  }
}
