@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.aa-container {
  max-width: 100%;
  width: 
  padding: 0;
  margin-top: 6vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  @include media(">=phone", "<lgphone") {
    height: 60vh;
    gap: 10vw;
  }
  @include media(">=lgphone", "<tablet") {
    height: 60vh;
  }
  @include media(">=tablet", "<desktop") {
    height: 60vh;
    gap: 10vw;
  }
  h1 {
    color: black;
    position: left;
    align-self: flex-start;
    font-family: LuloCleanW01-OneBold;
    font-size: 5.5vw;
    margin: -2vw;
    @include media(">=phone", "<lgphone") {
      margin: 0 -5vw;
      font-size: 7.5vw;
    }
    @include media(">=lgphone", "<tablet") {
      // width: 100vw;
      margin: 0 -5vw;
      font-size: 7.5vw;
      // padding: 7vw;
    }
    @include media(">=tablet", "<desktop") {
      // width: 100vw;
      margin: 0 -5vw;
      font-size: 7.5vw;
    }
  }
  .countdown {
    font-family: LuloCleanW01-OneBold;
    max-width: 15vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5vw;
    @include media(">=phone", "<lgphone") {
      // height: 60vh;
      font-size: 12vw;
    }
    @include media(">=lgphone", "<tablet") {
      // height: 60vh;
      // font-size: 12vw;
    }
    @include media(">=tablet", "<desktop") {
      // height: 60vh;
      // font-size: 12vw;
    }

    .months {
      color: #ff6830;
      display: flex;
      flex-direction: row;
      margin: 0;
    }
    .weeks {
      color: #ff8b0f;
      color: #ff6830;
      display: flex;
      flex-direction: row;
    }
    .days {
      color: #92af63;
      color: #ff8b0f;
      display: flex;
      flex-direction: row;
    }
    .hours {
      color: #3d9be9;
      color: #92af63;
      display: flex;
      flex-direction: row;
    }

    .minutes {
      color: #3d9be9;
      display: flex;
      flex-direction: row;
      flex: auto;
    }
    .seconds {
      max-width: 80%;
      color: rgb(124, 114, 232);
      display: flex;
      flex-direction: row;
    }
    .time-left {
      font-size: 1.5vw;
      align-self: center;
      justify-self: start;
      @include media(">=phone", "<lgphone") {
        // height: 60vh;
        font-size: 3vw;
      }
      @include media(">=lgphone", "<tablet") {
        // height: 60vh;
        font-size: 3vw;
      }
      @include media(">=tablet", "<desktop") {
        // height: 60vh;
        font-size: 3vw;
      }
    }
  }
}
