@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
.aa-container {
  max-width: 100%;
  padding: 0;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100vw;

  .image-wrapper {
    width: 60vw;
    align-self: center;
    //width: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    // height: 20vh;
    .image {
      width: 12vw;
      height: 12vw;
      @media only screen and (max-width: 950px) {
        //margin-left: -10vw;
        width: 15vw;
        height: 15vw;
      }
      @media only screen and (max-width: 550px) {
        width: 40vw;
        height: 40vw;
        margin: 5px;
      }
    }
    @media only screen and (max-width: 950px) {
      width: 80vw;
    }
    @media only screen and (max-width: 550px) {
      margin-top: 2vh;
      width: 100vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
    }
  }
  h1 {
    color: #1b9cf7;
    align-self: flex-start;
    font-family: LuloCleanW01-OneBold;
    font-size: 5vw;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }
}
