@import url("//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");


.about-section {
  background-color: #FF6830;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;

  h1 {
    margin-top: 2vh;
    font-family: LuloCleanW01-OneBold;
    color: white;
    font-size: 6vw;
    margin-bottom: 0.5vh;
    @media only screen and (min-width: 1200px) {
      font-size: 5vw;
    }
    @media only screen and (max-width: 400px) {
      font-size: 25px;
    }
  }

  br{
    display: none;
    @media only screen and (max-width: 300px) {
      display:block;
    }
  }

  p {
    width: 70vw;
    text-align: center;
    font-family: Nunito;
    font-weight: 500;
    color: white;
    font-size: 2.5vw;
    @media only screen and (max-width: 1200px) {
      margin-top: 0.5;
    }
    @media only screen and (min-width: 1200px) {
      //font-size: 3vw;
      //width: 800px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 15px;
    }
  }

  .signUp {
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-size: 3vw;
    font-family: "LuloCleanW01-OneBold";
    letter-spacing: 0.05em;
    line-height: 13px;
    background-color: white;
    color: #ff6830;
    padding: 1em 2em;
    text-underline-position: unset;
    text-decoration: none;
    cursor: pointer;



    @media only screen and (max-width: 1200px) {
      margin-bottom: 2vh;
    }
    @media only screen and (max-width: 800px) {
      font-size: 20px;
    }
  }

  .signUp:hover {
    background-color: #2b2b2b;
    color: white;
    box-shadow: inset 0 0 0 1px white;
  }
}
