@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");

.navbar-wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-family: Raleway;
  // margin-right: 25vw;
  justify-content: center;
  // justify-content: flex-end;
  align-items: center;

  .nav-area {
    li {
      position: relative;
      margin-right: 5em;
      // padding: 30px;
    }
  }

  a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(black, black);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all 0.3s;
  }

  a:hover {
    background-size: 100% 2px, auto;
  }
  // a:hover::after {
  //   width: 100%;
  //   // right: 0;
  // }

  // a::after {
  //   background: none repeat scroll 0 0 transparent;
  //   bottom: 0;
  //   content: "";
  //   display: block;
  //   height: 2px;
  //   // left: 0;
  //   // right: 0;
  //   position: absolute;
  //   background: black;
  //   transition: all 0.5s;
  //   // transition: width 0.5s ease 0s, left 0.5s ease 0s;
  //   width: 0;
  // }
}
